@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato/Lato-Regular.ttf") format("ttf"); 
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Merriweather/Merriweather-Bold.ttf") format("ttf"); 
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}


a:hover {
	@apply transition-all;
	@apply duration-100;
	@apply brightness-125;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

@layer base {
	* {
		@apply text-left
	}
  h1 {
    @apply text-4xl;
		@apply mb-4;
		@apply font-serif;
		@apply font-bold;
		@apply text-black;
  }
	p {
		@apply font-sans;
	}
	a {
		@apply text-blue
	}
}